<% include ../partials/header %>

<div class="starter-template">
  <h1>Noticias Administrativas</h1>
  <table>
    <% news.forEach(noticia => { %>
    <tr>
      <td><%= noticia.title%></td>
    </tr>
    <% }); %>
  </table>
</div>

<% include ../partials/footer %>